Assume a functional python framework where you always use full import names.
Functions should be short and rely on other functions within the A_GIS framework.
All functions should have a google style docstring.
All functions should start with a verb.

