[project]
name = "a_gis"
version = "0.5.5"
description = "AEGIS"
authors = [
    { name = "AEGIS 001", email = "a-gis-001@proton.me" },
]
readme = "README.md"
license = { file = "LICENSE" }
keywords = ["art", "AI"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries",
    "Programming Language :: Python :: 3 :: Only",
    "License :: OSI Approved :: The Unlicense (Unlicense)",
    "Operating System :: OS Independent",
]
dependencies = [
    "click",
    "matplotlib",
    "scipy",
    "numpy",
    "pytest",
    "pytest-xdist",
    "pydantic",
]
requires-python = ">=3.9"

[project.urls]
documentation = "https://a_gis.readthedocs.io"
bug-tracker = "https://github.com/a-gis-001/a_gis/issues"
source = "https://github.com/a-gis-001/a_gis"

[project.scripts]
olm = "A_GIS.__main__:a_gis"

[tool.setuptools.packages.find]
include = ["A_GIS.*"]

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"
