absl-py==2.1.0
aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
alabaster==0.7.16
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.2.0
apeye==1.4.1
apeye-core==1.1.4
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
autodocsumm==0.2.12
autopep8==2.0.4
Babel==2.14.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
black==24.2.0
bleach==6.1.0
blinker==1.8.2
blis==0.7.11
boltons==23.1.1
bracex==2.4
build==1.0.3
bump2version==1.0.1
bumpversion==0.6.0
CacheControl==0.13.1
cachetools==5.3.3
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.24
clarabel==0.7.0
click==8.1.7
click-extra==4.7.3
clize==5.0.2
cloudpathlib==0.16.0
cloup==3.0.4
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.1
commentjson==0.9.0
confection==0.1.4
ConfigUpdater==3.2
contourpy==1.2.0
cryptography==42.0.5
cssutils==2.9.0
cvxpy==1.4.2
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.4
debugpy==1.8.0
decorator==5.1.1
deepdiff==8.0.1
defusedxml==0.7.1
Deprecated==1.2.14
dict2css==0.3.0.post1
diff-match-patch==20230430
dill==0.3.6
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
dnspython==2.6.1
docformatter==1.7.5
docopt==0.6.2
docstring_parser==0.16
docutils==0.20.1
docx2txt==0.8
domdf-python-tools==3.8.0.post2
ecos==2.0.13
effdet==0.4.1
emoji==2.13.0
en-core-web-sm
et-xmlfile==1.1.0
exceptiongroup==1.2.0
execnet==2.0.2
executing==2.0.1
fastapi==0.110.0
fastjsonschema==2.19.1
ffmpy==0.4.0
filelock==3.13.1
filetype==1.2.0
Flask==3.0.3
flatbuffers==23.5.26
fonttools==4.49.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.2.0
furo==2024.1.29
gast==0.5.4
gcovr==7.2
gitdb==4.0.11
GitPython==3.1.43
globus-sdk==3.39.0
google-api-core==2.20.0
google-auth==2.28.1
google-auth-oauthlib==1.2.0
google-cloud-vision==3.7.4
google-pasta==0.2.0
googleapis-common-protos==1.63.0
gradio==5.0.1
gradio_client==1.4.0
greenlet==3.1.1
groq==0.4.2
grpcio==1.66.1
grpcio-status==1.62.3
h11==0.14.0
h5py==3.10.0
html5lib==1.1
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.2
huggingface-hub==0.25.2
humanfriendly==10.0
humanize==4.10.0
identify==2.5.33
idna==3.6
imagesize==1.4.1
imohash==1.0.5
importlib-metadata==6.11.0
importlib-resources==6.1.1
iniconfig==2.0.0
iopath==0.1.10
ipykernel==6.29.0
ipympl==0.9.3
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
jiter==0.5.0
joblib==1.4.2
json5==0.9.14
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpickle==3.3.0
jsonpointer==2.4
jsonschema==4.21.0
jsonschema-specifications==2023.12.1
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.1
jupyterlab==4.1.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
jupyterlab_widgets==3.0.10
keras==2.15.0
kiwisolver==1.4.5
kubernetes==29.0.0
langchain-core==0.3.9
langchain-ollama==0.2.0
langchain-openai==0.2.2
langchain-text-splitters==0.3.0
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.1.131
lark-parser==0.7.8
layoutparser==0.3.4
libclang==16.0.6
libcst==1.2.0
llama-cloud==0.1.2
llama-index==0.11.17
llama-index-agent-openai==0.3.4
llama-index-cli==0.3.1
llama-index-core==0.11.17
llama-index-embeddings-langchain==0.2.1
llama-index-embeddings-ollama==0.3.1
llama-index-embeddings-openai==0.2.5
llama-index-indices-managed-llama-cloud==0.4.0
llama-index-legacy==0.9.48.post3
llama-index-llms-ollama==0.3.3
llama-index-llms-openai==0.2.11
llama-index-multi-modal-llms-openai==0.2.2
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.2
llama-index-readers-llama-parse==0.3.0
llama-parse==0.5.7
lxml==5.1.1
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.21.1
matplotlib==3.9.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mergedeep==1.3.4
mistune==3.0.2
ml-dtypes==0.2.0
mlx==0.11.1
mlx-lm==0.10.0
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.5
murmurhash==1.0.10
mypy-extensions==1.0.0
myst-parser==2.0.0
natsort==8.4.0
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
nodeenv==1.8.0
notebook_shim==0.2.3
numpy==1.26.4
oauthlib==3.2.2
od==2.0.2
olefile==0.47
ollama==0.3.3
omegaconf==2.3.0
onnx==1.16.2
onnxruntime==1.17.1
openai==1.51.0
opencv-python==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp-proto-common==1.23.0
opentelemetry-exporter-otlp-proto-grpc==1.23.0
opentelemetry-instrumentation==0.44b0
opentelemetry-instrumentation-asgi==0.44b0
opentelemetry-instrumentation-fastapi==0.44b0
opentelemetry-proto==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-semantic-conventions==0.44b0
opentelemetry-util-http==0.44b0
opt-einsum==3.3.0
orderly-set==5.2.2
orjson==3.9.15
osqp==0.6.5
overrides==7.4.0
packaging==23.2
Pallets-Sphinx-Themes==2.1.1
pandas==2.2.3
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.12.1
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.4
pexpect==4.9.0
pi_heif==0.18.0
pickleshare==0.7.5
pika==1.3.2
pikepdf==9.2.1
pillow==10.2.0
pipreqs==0.5.0
platformdirs==3.11.0
pluggy==1.3.0
portalocker==2.10.1
posthog==3.5.0
pre-commit==3.6.0
preshed==3.0.9
prometheus-client==0.19.0
prompt-toolkit==3.0.43
proto-plus==1.24.0
protobuf==4.25.3
psutil==5.9.7
ptyprocess==0.7.0
PuLP==2.8.0
pulsar-client==3.4.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==15.0.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.11.1
pycocotools==2.0.8
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pydub==0.25.1
Pygments==2.17.2
pygments-ansi-color==0.3.0
PyJWT==2.8.0
pymongo==4.8.0
pypandoc==1.13
pyparsing==3.1.1
pypdf==4.3.1
PyPDF2==3.0.1
pypdfium2==4.30.0
PyPika==0.48.9
pyproject_hooks==1.0.0
PyScaffold==4.5
pytesseract==0.3.13
pytest==8.0.2
pytest-sugar==1.0.0
pytest-xdist==3.5.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-iso639==2024.4.27
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.9
python-oxmsg==0.0.1
python-pptx==1.0.2
pytz==2024.1
pyvis==0.3.2
PyYAML==6.0.2
pyzmq==25.1.2
qdldl==0.1.7.post0
rapidfuzz==3.9.7
ray==2.9.3
referencing==0.32.1
regex==2023.12.25
reportlab==4.1.0
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rich-click==1.7.3
rich-traceback==1.0.3
rpds-py==0.17.1
rsa==4.9
rst2pdf==0.101
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
ruff==0.6.9
safetensors==0.4.2
scale-olm==0.12.0
scikit-learn==1.5.2
scipy==1.14.1
scs==3.2.4.post1
semantic-version==2.10.0
Send2Trash==1.8.2
setuptools-scm==8.0.4
shellingham==1.5.4
sigtools==4.0.1
six==1.16.0
smart-open==6.4.0
smartypants==2.0.1
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==7.2.6
sphinx-autodoc-typehints==1.25.2
sphinx-basic-ng==1.0.0b2
sphinx-click==5.1.0
sphinx-copybutton==0.5.2
sphinx-jinja2-compat==0.2.0.post1
sphinx-jsonschema==1.19.1
sphinx-notfound-page==1.0.0
sphinx-prompt==1.8.0
sphinx-rtd-theme==2.0.0
sphinx-tabs==3.4.5
sphinx-term==0.1
sphinx-toolbox==3.5.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.28
srsly==2.4.8
stack-data==0.6.3
starlette==0.36.3
striprtf==0.0.26
structlog==24.1.0
sympy==1.12
tabulate==0.9.0
tblib==1.7.0
tenacity==8.2.3
tensorboard==2.15.2
tensorboard-data-server==0.7.2
termcolor==2.4.0
terminado==0.18.0
termynal==0.11.1
testbook==0.4.2
texttable==1.7.0
thinc==8.2.5
threadpoolctl==3.5.0
tiktoken==0.8.0
timm==1.0.9
tinycss2==1.2.1
tokenizers==0.19.1
tomli==2.0.1
tomlkit==0.12.0
torch==2.4.1
torchvision==0.19.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.1
transformers==4.40.0
typer==0.12.5
types-python-dateutil==2.8.19.20240106
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.4
unstructured==0.15.12
unstructured-client==0.25.9
unstructured-inference==0.7.36
unstructured.pytesseract==0.3.13
untokenize==0.1.1
uri-template==1.3.0
urllib3==2.2.1
uvicorn==0.28.0
uvloop==0.19.0
varint==1.0.2
virtualenv==20.25.0
wasabi==1.1.2
watchdog==5.0.2
watchfiles==0.21.0
wcmatch==8.5
wcwidth==0.2.13
weasel==0.4.1
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.1
widgetsnbextension==4.0.10
wrapt==1.14.1
xlrd==2.0.1
XlsxWriter==3.2.0
xmltodict==0.13.0
yarg==0.1.9
yarl==1.9.4
zipp==3.17.0
